.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  font-size: 0.8rem;
  border-left: white 2px solid;
  background: black;
  padding: 10px;
  color: #fafafa;
}

.timestamp {
  min-width: 100px;
  text-align: right;
  margin-right: 20px;
}

.content {
  min-width: 200px;
  text-align: left;
  text-wrap: pretty;
  margin: 0;
}
