.root {
  height: 50px;
  background-color: #335d92;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;

  select {
    width: 150px;
    display: inline-block;
    color: 1px solid #335d92;
    height: 38px;
  }

  button {
    height: 38px;
    width: 100px;
    color: 1px solid #335d92;
    background-color: white;
    border-color: transparent;
  }

  button:hover {
    border: 1px inset black;
  }

  input {
    display: inline-block;
    height: 32px;
    width: 50%;
    color: 1px solid #335d92;
  }
}
